<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="https://via.placeholder.com/200" alt="Book thumbnail">
        </div>

        <div class="col-8">
            <h2>Book Title</h2>
            <h4>Author</h4>
            <p>Description</p>
            <p>Rating</p>
        </div>
    </div>
    <br>
    <div id="comment-root" class="comment-box container">
        <h3>Comments</h4>

        <div id='root-input' class='input-box'>
            <textarea class='message-input' rows='3'></textarea>
            <div class='input-button-box'>
                <button class='submit-input-button'>Submit</button>
            </div>
        </div>
    </div>
</div>