<div class="container">
    <div class="row">
        <img class="col-4" src="{{thumbnailURL}}" alt="Book thumbnail">

        <div class="col-8">
            <h2>Book Title</h2>
            <em>Author</em>
            <p>Description</p>
            <span>Rating</span>
        </div>
    </div>
    <br>
    <div id="comment-root" class="input-box container">
        <h3>Comments</h3>

        <div id="root-input" class='input-box'>
            <textarea class="message-input" rows="5"></textarea>
            <div class="input-button-box">
                <button class="submit-input-button">Submit</button>
            </div>
        </div>

        <div>
            {{> comments}}
        </div>
    </div>
</div>