<label for="Username">Username:</label>
<input type="text" id="Username" name="Username"><br><br>
<label for="Password">Password:</label>
<input type="text" id="Password" name="Password"><br><br>
<input type="submit" value="login">
<input type="submit" value="sign-up">