    {{!-- <div>
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="Username"><br><br>
        <label for="Password">Password:</label>
        <input type="password" id="password" name="Password"><br><br>
        <input type="submit" id="login" value="Submit">
        <a href="/"><input type="submit"  value="Sign-up"></a>
    </div> --}}

    <main>
        <form>
            <h2>Login to your account</h2>
            <table>
                <tr>
                    <td><label for="email">E-mail:</label></td>
                    <td><input type="email" id="email-input" name="email"></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" id="password-input" name="password"></td>
                </tr>
                <tr><td colspan="2">
                    <input type="submit" id="login-button" value="Login">
                </td></tr>
            </table>
        </form>

        <div>
            Don't have an account yet? <a href="/signup">Sign-up here!</a>
        </div>
    </main>