/* main {
    max-width: 1200px;
    margin: auto;
    display: table;
}
form {
    margin: 0px 0;
}
table {
    margin: 10px 0;
}
tr td:last-child {
    padding-left: 10px;
}
tr:last-child td {
    text-align: right;
}
 .hidden {
     display: none;
 } */
 .form-select{
    width :60%;
}
